/* =======================================
=body
======================================= */

body {
  margin: 0;
  padding: 0;
  color: var(--iad-gray-100);
  background-color: var(--iad-white);
  min-height: 100vh;
}

body.has-menu {
  overflow-y: hidden;
}
