/* =======================================
=margins and box model
======================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: 0;
}

/* =======================================
=forms
======================================= */

form {
  accent-color: var(--iad-brand-dark);
}

textarea {
  resize: block;
}

textarea:not([rows]) {
  min-block-size: 4rem;
}

:is(input, button, select, textarea, select) {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

select {
  appearance: none;
}

:is(input, button, select, textarea, select) {
  outline-color: var(--iad-brand-dark);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* =======================================
=titles
======================================= */

:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: pretty;
}
