/* =======================================
=spacing
======================================= */

/* see spacing tokens */

/* =======================================
=margins
======================================= */

/* none */
.u-mb-none {
  margin-block: 0;
}
.u-mbs-none {
  margin-block-start: 0;
}
.u-mbe-none {
  margin-block-end: 0;
}
.u-mi-none {
  margin-inline: 0;
}
.u-mis-none {
  margin-inline-start: 0;
}
.u-mie-none {
  margin-inline-end: 0;
}

/* xxs */
.u-mb-xxs {
  margin-block: var(--iad-space-xxs);
}
.u-mbs-xxs {
  margin-block-start: var(--iad-space-xxs);
}
.u-mbe-xxs {
  margin-block-end: var(--iad-space-xxs);
}
.u-mi-xxs {
  margin-inline: var(--iad-space-xxs);
}
.u-mis-xxs {
  margin-inline-start: var(--iad-space-xxs);
}
.u-mie-xxs {
  margin-inline-end: var(--iad-space-xxs);
}

/* xs */
.u-mb-xs {
  margin-block: var(--iad-space-xs);
}
.u-mbs-xs {
  margin-block-start: var(--iad-space-xs);
}
.u-mbe-xs {
  margin-block-end: var(--iad-space-xs);
}
.u-mi-xs {
  margin-inline: var(--iad-space-xs);
}
.u-mis-xs {
  margin-inline-start: var(--iad-space-xs);
}
.u-mie-xs {
  margin-inline-end: var(--iad-space-xs);
}

/* small */
.u-mb-sm {
  margin-block: var(--iad-space-sm);
}
.u-mbs-sm {
  margin-block-start: var(--iad-space-sm);
}
.u-mbe-sm {
  margin-block-end: var(--iad-space-sm);
}
.u-mi-sm {
  margin-inline: var(--iad-space-sm);
}
.u-mis-sm {
  margin-inline-start: var(--iad-space-sm);
}
.u-mie-sm {
  margin-inline-end: var(--iad-space-sm);
}

/* md */
.u-mb-md {
  margin-block: var(--iad-space-md);
}
.u-mbs-md {
  margin-block-start: var(--iad-space-md);
}
.u-mbe-md {
  margin-block-end: var(--iad-space-md);
}
.u-mi-md {
  margin-inline: var(--iad-space-md);
}
.u-mis-md {
  margin-inline-start: var(--iad-space-md);
}
.u-mie-md {
  margin-inline-end: var(--iad-space-md);
}

/* large */
.u-mb-lg {
  margin-block: var(--iad-space-lg);
}
.u-mbs-lg {
  margin-block-start: var(--iad-space-lg);
}
.u-mbe-lg {
  margin-block-end: var(--iad-space-lg);
}
.u-mi-lg {
  margin-inline: var(--iad-space-lg);
}
.u-mis-lg {
  margin-inline-start: var(--iad-space-lg);
}
.u-mie-lg {
  margin-inline-end: var(--iad-space-lg);
}

/* xlarge */
.u-mb-xl {
  margin-block: var(--iad-space-xl);
}
.u-mbs-xl {
  margin-block-start: var(--iad-space-xl);
}
.u-mbe-xl {
  margin-block-end: var(--iad-space-xl);
}
.u-mi-xl {
  margin-inline: var(--iad-space-xl);
}
.u-mis-xl {
  margin-inline-start: var(--iad-space-xl);
}
.u-mie-xl {
  margin-inline-end: var(--iad-space-xl);
}

/* xxlarge */
.u-mb-xxl {
  margin-block: var(--iad-space-xxl);
}
.u-mbs-xxl {
  margin-block-start: var(--iad-space-xxl);
}
.u-mbe-xxl {
  margin-block-end: var(--iad-space-xxl);
}
.u-mi-xxl {
  margin-inline: var(--iad-space-xxl);
}
.u-mis-xxl {
  margin-inline-start: var(--iad-space-xxl);
}
.u-mie-xxl {
  margin-inline-end: var(--iad-space-xxl);
}

/* =======================================
=paddings
======================================= */

/* none */
.u-pb-none {
  padding-block: 0;
}
.u-pbs-none {
  padding-block-start: 0;
}
.u-pbe-none {
  padding-block-end: 0;
}
.u-pi-none {
  padding-inline: 0;
}
.u-pis-none {
  padding-inline-start: 0;
}
.u-pie-none {
  padding-inline-end: 0;
}

/* xxs */
.u-pb-xxs {
  padding-block: var(--iad-space-xxs);
}
.u-pbs-xxs {
  padding-block-start: var(--iad-space-xxs);
}
.u-pbe-xxs {
  padding-block-end: var(--iad-space-xxs);
}
.u-pi-xxs {
  padding-inline: var(--iad-space-xxs);
}
.u-pis-xxs {
  padding-inline-start: var(--iad-space-xxs);
}
.u-pie-xxs {
  padding-inline-end: var(--iad-space-xxs);
}

/* xs */
.u-pb-xs {
  padding-block: var(--iad-space-xs);
}
.u-pbs-xs {
  padding-block-start: var(--iad-space-xs);
}
.u-pbe-xs {
  padding-block-end: var(--iad-space-xs);
}
.u-pi-xs {
  padding-inline: var(--iad-space-xs);
}
.u-pis-xs {
  padding-inline-start: var(--iad-space-xs);
}
.u-pie-xs {
  padding-inline-end: var(--iad-space-xs);
}

/* small */
.u-pb-sm {
  padding-block: var(--iad-space-sm);
}
.u-pbs-sm {
  padding-block-start: var(--iad-space-sm);
}
.u-pbe-sm {
  padding-block-end: var(--iad-space-sm);
}
.u-pi-sm {
  padding-inline: var(--iad-space-sm);
}
.u-pis-sm {
  padding-inline-start: var(--iad-space-sm);
}
.u-pie-sm {
  padding-inline-end: var(--iad-space-sm);
}

/* md */
.u-pb-md {
  padding-block: var(--iad-space-md);
}
.u-pbs-md {
  padding-block-start: var(--iad-space-md);
}
.u-pbe-md {
  padding-block-end: var(--iad-space-md);
}
.u-pi-md {
  padding-inline: var(--iad-space-md);
}
.u-pis-md {
  padding-inline-start: var(--iad-space-md);
}
.u-pie-md {
  padding-inline-end: var(--iad-space-md);
}

/* large */
.u-pb-lg {
  padding-block: var(--iad-space-lg);
}
.u-pbs-lg {
  padding-block-start: var(--iad-space-lg);
}
.u-pbe-lg {
  padding-block-end: var(--iad-space-lg);
}
.u-pi-lg {
  padding-inline: var(--iad-space-lg);
}
.u-pis-lg {
  padding-inline-start: var(--iad-space-lg);
}
.u-pie-lg {
  padding-inline-end: var(--iad-space-lg);
}

/* xlarge */
.u-pb-xl {
  padding-block: var(--iad-space-xl);
}
.u-pbs-xl {
  padding-block-start: var(--iad-space-xl);
}
.u-pbe-xl {
  padding-block-end: var(--iad-space-xl);
}
.u-pi-xl {
  padding-inline: var(--iad-space-xl);
}
.u-pis-xl {
  padding-inline-start: var(--iad-space-xl);
}
.u-pie-xl {
  padding-inline-end: var(--iad-space-xl);
}

/* xxlarge */
.u-pb-xxl {
  padding-block: var(--iad-space-xxl);
}
.u-pbs-xxl {
  padding-block-start: var(--iad-space-xxl);
}
.u-pbe-xxl {
  padding-block-end: var(--iad-space-xxl);
}
.u-pi-xxl {
  padding-inline: var(--iad-space-xxl);
}
.u-pis-xxl {
  padding-inline-start: var(--iad-space-xxl);
}
.u-pie-xxl {
  padding-inline-end: var(--iad-space-xxl);
}
