/* =======================================
=sitefooter
======================================= */

.c-sitefooter {
  display: block;
  border-block-start: 1px solid var(--iad-gray-700);
}

.c-sitefooter__content {
  padding-inline: var(--iad-space-md);
  padding-block: var(--iad-space-sm);
}

.c-sitefooter__copyright {
  margin: 0;
  font-size: var(--iad-fontsize-sm);
}
