/* =======================================
=siteheader
======================================= */

.c-siteheader {
  padding-block: 18px;
  border-bottom: 1px solid var(--iad-gray-700);
}

.c-siteheader__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--iad-grid-gutter);
}

.c-siteheader__logo {
  margin-inline-end: auto;

  & img {
    display: block;
    width: 48px;
    height: auto;

    @media (width >= 750px) {
      width: 60px;
    }
  }
}

.c-siteheader__nav {
  display: none;

  @media (width >= 750px) {
    display: block;
  }
}

.c-siteheader__hamburger {
  @media (width >= 750px) {
    display: none;
  }
}

.c-siteheader__hamburger > a,
.c-siteheader__hamburger svg {
  display: block;
}
