/* =======================================
=mainnav
======================================= */

.c-mainnav {
  --mainnavlink-color: var(--iad-white);
  --mainnavlink-color-interactive: var(--iad-gray-700);

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.c-mainnav__link {
  display: inline-block;
  padding: 6px;
  font-size: 1rem;
  color: var(--mainnavlink-color);
  line-height: 1.2;
  font-family: var(--fontstack-main);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--mainnavlink-color-interactive);
  }
}

.c-mainnav__link:has(.c-icon) {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3px;
}
