/* =======================================
=topbar
======================================= */

.c-topbar {
  --topbar-mbe: 18px;

  margin: 0 0 var(--topbar-mbe);
  padding: 0;

  @media (width >= 750px) {
    --topbar-mbe: 24px;
  }

  @media (width >= 1024px) {
    --topbar-mbe: 30px;
  }
}
