/* =======================================
=button
======================================= */

.c-button {
  --btn-background: var(--iad-gray-800);
  --btn-background-interactive: color-mix(
    in hsl,
    black 3%,
    var(--btn-background)
  );
  --btn-color: var(--iad-gray-100);
  --btn-padding-inline: 18px;
  --btn-padding-block: 6px;
  --btn-radius: var(--iad-radius);

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;

  text-align: center;
  cursor: pointer;
  border: none;
  background-color: var(--btn-background);
  text-align: center;
  color: var(--btn-color);
  padding-inline: var(--btn-padding-inline);
  padding-block: var(--btn-padding-block);
  border-radius: var(--btn-radius);
  font-weight: 400;
  font-size: 1rem;

  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: var(--btn-background-interactive);
  }
}

/* =======================================
=colors
======================================= */

.c-button--primary {
  --btn-background: var(--iad-brand-dark);
  --btn-color: var(--iad-white);
}

.c-button--danger {
  --btn-background: var(--iad-ui-danger-dark);
  --btn-color: var(--iad-white);
}

/* =======================================
=sizes
======================================= */

.c-button[data-size="sm"] {
  --btn-padding-inline: 6px;
  --btn-padding-block: 3px;
  font-size: calc(14 / 16 * 1rem);
}

/* =======================================
=widths
======================================= */

.c-button[data-width="full"] {
  inline-size: 100%;
}
