/* =======================================
=icon
======================================= */

.c-icon {
  --icon-size: 2ex;

  & svg {
    display: block;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
  }
}

.c-icon--18 {
  --icon-size: 18px;
}

.c-icon--24 {
  --icon-size: 24px;
}

.c-icon--30 {
  --icon-size: 30px;
}
