/* =======================================
=icon
======================================= */

.c-icon {
  --icon-size: 18px;
  & svg {
    display: block;
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
  }
}

.c-icon[data-size="24px"] {
  --icon-size: 24px;
}
