/* =======================================
=datatable
======================================= */

.c-datatable {
  --datatable-border-color: var(--iad-gray-700);
  --datatable-cellpadding-inline: 6px;
  --datatable-cellpadding-block: 12px;

  font-size: var(--iad-fontsize-base);
  overflow-x: auto;
  overflow-y: clip;
  scrollbar-width: thin;
  scrollbar-color: auto transparent;
}

.c-datatable table {
  inline-size: 100%;
  border-collapse: collapse;
}

.c-datatable tr {
  border-block-end: 1px solid var(--datatable-border-color);
}

.c-datatable th,
.c-datatable td {
  padding: var(--datatable-cellpadding-block)
    var(--datatable-cellpadding-inline);
  text-align: start;
  vertical-align: baseline;
}

.c-datatable thead th {
  font-weight: 600;
}

.c-datatable tbody th {
  font-weight: unset;
}

.c-datatable tr th:first-child,
.c-datatable tr td:first-child {
  padding-inline-start: 0;
}

.c-datatable tr th:last-child,
.c-datatable tr td:last-child {
  padding-inline-end: 0;
}

/* =======================================
=datatable fixed column in size
======================================= */

.c-fixedcol {
  --column-width: 300px;

  inline-size: var(--column-width);
}

/* =======================================
=datatable header buttons
======================================= */

.c-datatable th > button {
  gap: 6px;
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-weight: inherit;
}
