/* =======================================
=sitefooter
======================================= */

.c-sitefooter {
  display: block;
}

.c-sitefooter__content {
  padding-block: 12px;
}

.c-sitefooter__copyright {
  margin: 0;
  font-size: var(--iad-fontsize-sm);
}
