/* =======================================
=button
======================================= */

.c-button {
  --btn-background: var(--iad-gray-700);
  --btn-background-interactive: color-mix(
    in hsl,
    black 6%,
    var(--btn-background)
  );

  --btn-border: var(--iad-gray-700);
  --btn-border-interactive: color-mix(in hsl, black 6%, var(--btn-border));

  --btn-color: var(--iad-gray-100);
  --btn-color-interactive: var(--iad-gray-300);

  --btn-font-size: 1rem;
  --btn-font-weigth: 1rem;

  --btn-gap: 6px;

  --btn-padding-inline: 18px;
  --btn-padding-block: 10px;

  --btn-radius: var(--iad-radius);

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--btn-gap);

  text-align: center;
  cursor: pointer;
  border: none;
  background-color: var(--btn-background);
  text-align: center;
  color: var(--btn-color);
  padding-inline: var(--btn-padding-inline);
  padding-block: var(--btn-padding-block);
  border: 1px solid var(--btn-border);
  border-radius: var(--btn-radius);
  font-weight: var(--btn-font-weigth);
  font-size: var(--btn-font-size);
  line-height: 1;

  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: var(--btn-background-interactive);
    border-color: var(--btn-border-interactive);
    color: var(--btn-color);
  }
}

/* =======================================
=colors
======================================= */

.c-button[data-variant="primary"] {
  --btn-background: var(--iad-gray-100);
  --btn-border: var(--iad-gray-100);
  --btn-color: var(--iad-white);

  --btn-color-interactive: var(--iad-white);
}

.c-button[data-variant="danger"] {
  --btn-background: var(--iad-ui-danger-dark);
  --btn-border: var(--iad-ui-danger-dark);
  --btn-color: var(--iad-white);

  --btn-color-interactive: var(--iad-white);
}

/* =======================================
=variants
======================================= */

.c-button[data-variant="plain"],
.c-button--plain {
  --btn-background: transparent;
  --btn-border: transparent;
  --btn-color: var(--iad-gray-100);

  --btn-background-interactive: transparent;
  --btn-border-interactive: transparent;
  --btn-color-interactive: var(--iad-gray-100);
}

.c-button[data-variant="outlined"],
.c-button--outlined {
  --btn-background: transparent;
  --btn-border: var(--iad-gray-700);
  --btn-color: var(--iad-gray-100);

  --btn-background-interactive: transparent;
  --btn-border-interactive: var(--iad-gray-600);
  --btn-color-interactive: var(--iad-gray-100);
}

/* =======================================
=sizes
======================================= */

.c-button[data-size="sm"],
.c-button--sm {
  --btn-padding-inline: 12px;
  --btn-padding-block: 6px;
  font-size: calc(14 / 16 * 1rem);
}

.c-button[data-size="xs"],
.c-button--xs {
  --btn-gap: 3px;
  --btn-padding-inline: 6px;
  --btn-padding-block: 3px;
  font-size: calc(13 / 16 * 1rem);
}

.c-button[data-size="xxs"],
.c-button--xxs {
  --btn-gap: 3px;
  --btn-padding-inline: 3px;
  --btn-padding-block: 3px;
  font-size: calc(13 / 16 * 1rem);
}

/* =======================================
=widths
======================================= */

.c-button[data-width="full"],
.c-button--fullwidth {
  inline-size: 100%;
}

/* =======================================
=disabled
======================================= */

.c-button[disabled] {
  cursor: not-allowed;

  --btn-background: var(--iad-gray-700);
  --btn-color: var(--iad-gray-500);
  --btn-border: var(--iad-gray-700);

  --btn-background-interactive: var(--iad-gray-700);
  --btn-border-interactive: var(--iad-gray-700);
  --btn-color-interactive: var(--iad-gray-100);
}
