/* =======================================
=input field
======================================= */

/*
- Can be used for all input fields (text, email, password, tel, url, number) 
*/

.c-field-file {
  font-size: calc(14 / 16 * 1rem);
}

.c-field-file > input {
  flex: 1 1 100%;
}

.c-field-file > input::file-selector-button {
  --btn-border: var(--iad-gray-600);
  --btn-background: var(--iad-white);
  --btn-color: var(--iad-gray-100);
  --btn-radius: 3px;

  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-border);
  background-color: var(--btn-background);
  color: var(--btn-color);
  padding: 6px 12px;
  line-height: 1;
  border-radius: var(--btn-radius);
  font-size: calc(14 / 16 * 1rem);

  &:hover,
  &:focus {
    --btn-border: var(--iad-gray-400);
  }
}

/* =======================================
=disabled
======================================= */

input[type="file"][disabled] {
  color: var(--iad-gray-500);
  cursor: not-allowed;
}

input[type="file"][disabled]::file-selector-button {
  background-color: var(--iad-gray-800);
  border-color: var(--iad-gray-700);
  cursor: not-allowed;
}

/* =======================================
=preview of the file
======================================= */

.c-field-file__preview {
  --file-preview-gap: var(--iad-space-xs);
  --file-preview-mbe: var(--iad-space-xs);
  --file-placeholder-size: 30px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--file-preview-gap);
  margin-block-end: var(--file-preview-mbe);
}

.c-field-file__placeholder {
  flex: 0 0 var(--file-placeholder-size);
}

.c-field-file__placeholder > img {
  inline-size: var(--file-placeholder-size);
  block-size: var(--file-placeholder-size);
  object-fit: cover;
}

.c-field-file__data {
  flex: 1 1 100%;
}

.c-field-file__filename {
  margin: 0;
}
