/* =======================================
=summary list
======================================= */

.c-summary-list {
  border: 1px solid var(--iad-gray-700);
  margin-block-end: var(--iad-space-sm);
  border-radius: var(--btn-radius);
}

.c-summary-list__header {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: var(--iad-space-xs) var(--iad-space-md);
  background: var(--iad-gray-800);
  border-block-end: 1px solid var(--iad-gray-700);
  align-items: center;
}

.c-summary-list__content {
  padding: var(--iad-space-md);
  display: flex;
  flex-direction: column;
  gap: var(--iad-space-md);
  margin-bottom: 0;
}

.c-summary-list__value {
  margin: 0;
}

.c-summary-list__empty-value {
  color: var(--iad-gray-600);
}
