/* =======================================
=titles
======================================= */

/* Modularscale: https://www.modularscale.com/?16&px&1.125 */

:is(.c-h1, .c-h2, .c-h3, .c-h4, .c-h5, .c-h6) {
  --title-border-color: var(--iad-gray-700);
  --title-mbe: 0.6em;
  --title-pbe: 0.33em;

  font-weight: 500;
  font-family: var(--fontstack-alt);
  line-height: 1.38;
  color: var(--iad-gray-100);
  margin-block-end: var(--title-mbe);
}

.c-h1 {
  margin-block-start: 0;
  font-size: var(--iad-fontsize-800);
}

.c-h2 {
  font-size: var(--iad-fontsize-700);
}

.c-h3 {
  font-size: var(--iad-fontsize-600);
}

.c-h4 {
  font-size: var(--iad-fontsize-500);
}

.c-h5 {
  font-weight: 600;
  font-size: var(--iad-fontsize-400);
}

.c-h6 {
  font-weight: 600;
  font-size: var(--iad-fontsize-300);
  text-transform: uppercase;
}

:is(.c-h1--border, .c-h2--border, .c-h3--border, .c-h4--border) {
  padding-block-end: var(--title-pbe);
  border-block-end: 1px solid var(--title-border-color);
}
