/* =======================================
=smalltitle
======================================= */

.c-smalltitle {
  font-weight: 600;
  font-size: calc(14 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  color: var(--iad-gray-100);
  text-transform: uppercase;
  margin-block-end: 1rem;
}
