/* =======================================
=toast group
======================================= */

.c-toast-group {
  position: fixed;
  inset-inline-start: 12px;
  inset-block-end: 12px;
  inline-size: 420px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 12px;
}
