/* =======================================
=button
======================================= */

.c-button {
  --btn-border: var(--iad-gray-600);
  --btn-background: var(--iad-white);
  --btn-color: var(--iad-gray-100);
  --btn-radius: 3px;

  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-border);
  background-color: var(--btn-background);
  text-align: center;
  color: var(--btn-color);
  padding: 10px 22px;
  line-height: 1;
  border-radius: var(--btn-radius);
  font-weight: 400;
  font-size: 1rem;

  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;

  &:has(.c-icon) {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  &:hover,
  &:focus {
    --btn-border: var(--iad-gray-200);
  }
}

.c-button--block {
  width: 100%;
  display: block;

  &:has(.c-icon) {
    display: flex;
  }
}

.c-button--primary {
  --btn-border: var(--iad-brand-dark);
  --btn-background: var(--iad-brand-dark);
  --btn-color: var(--iad-white);

  &:hover,
  &:focus {
    --btn-border: color-mix(
      in srgb,
      var(--iad-brand-dark) 80%,
      var(--iad-black) 20%
    );
    --btn-background: color-mix(
      in srgb,
      var(--iad-brand-dark) 80%,
      var(--iad-black) 20%
    );
  }
}

.c-button--danger {
  --btn-border: var(--iad-ui-danger-dark);
  --btn-background: var(--iad-ui-danger-dark);
  --btn-color: var(--iad-white);

  &:hover,
  &:focus {
    --btn-border: color-mix(
      in srgb,
      var(--iad-ui-danger-dark) 80%,
      var(--iad-black) 20%
    );
    --btn-background: color-mix(
      in srgb,
      var(--iad-ui-danger-dark) 80%,
      var(--iad-black) 20%
    );
  }
}

.c-button--compact {
  padding: 6px 10px;
  font-size: calc(14 / 16 * 1rem);
}
