/* =======================================
=fieldset
======================================= */

.c-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.c-fieldset legend {
  margin: 0;
  padding: 0;
}
