/* =======================================
=spacing
======================================= */

:root {
  --iad-space-xxs: 3px;
  --iad-space-xs: 6px;
  --iad-space-sm: 12px;
  --iad-space-base: 18px;
  --iad-space-lg: 24px;
  --iad-space-xl: 30px;
  --iad-space-xxl: 36px;
}
