/* =======================================
=typography
======================================= */

/* https://www.modularscale.com/?16&px&1.125 */

:root {
  --fontstack-main: system-ui, sans-serif;
  --fontstack-alt: "IBM Plex Sans", "Roboto", system-ui, sans-serif;

  --iad-fontsize-100: calc(11 / 16 * 1rem);
  --iad-fontsize-200: calc(13 / 16 * 1rem);
  --iad-fontsize-300: calc(14 / 16 * 1rem);
  --iad-fontsize-400: 1rem;
  --iad-fontsize-500: calc(18 / 16 * 1rem);
  --iad-fontsize-600: clamp(
    calc(20 / 16 * 1rem),
    1.196rem + 0.268vi,
    calc(23 / 16 * 1rem)
  );
  --iad-fontsize-700: clamp(
    calc(23 / 16 * 1rem),
    1.384rem + 0.268vi,
    calc(26 / 16 * 1rem)
  );
  --iad-fontsize-800: clamp(
    calc(26 / 16 * 1rem),
    1.571rem + 0.268vi,
    calc(29 / 16 * 1rem)
  );
  --iad-fontsize-900: clamp(
    calc(29 / 16 * 1rem),
    1.759rem + 0.268vi,
    calc(32 / 16 * 1rem)
  );

  --iad-fontsize-md: var(--iad-fontsize-500);
  --iad-fontsize-base: var(--iad-fontsize-400);
  --iad-fontsize-sm: var(--iad-fontsize-300);
  --iad-fontsize-xs: var(--iad-fontsize-200);
  --iad-fontsize-2xs: var(--iad-fontsize-100);
}
