// =======================================
// titles
// =======================================

// Modularscale: https://www.modularscale.com/?18&px&1.125

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
  --border-color: var(--iad-gray-700);
  --margin-block-end: 0.84em;
  --padding-block-end: 0.33em;

  font-weight: 500;
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  margin-block-end: var(--margin-block-end);
  color: var(--iad-gray-100);
  padding-block-end: var(--padding-block-end);
  border-block-end: 1px solid var(--border-color);
}

.c-h1 {
  font-size: clamp(calc(26 / 16 * 1rem), 1rem + 1vw, calc(29 / 16 * 1rem));
}

.c-h2 {
  font-size: clamp(calc(23 / 16 * 1rem), 1rem + 0.72vw, calc(26 / 16 * 1rem));
}

.c-h3 {
  font-size: clamp(calc(20 / 16 * 1rem), 1rem + 0.48vw, calc(23 / 16 * 1rem));
}

.c-h4 {
  font-size: clamp(calc(18 / 16 * 1rem), 1rem + 0.24vw, calc(20 / 16 * 1rem));
}

.c-h5 {
  font-weight: 600;
  font-size: 1rem;
}

.c-h6 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--iad-gray-400);
}
