// =======================================
// titles
// =======================================

.c-suptitle {
  color: var(--iad-gray-500);
  font-size: calc(13 / 16 * 1rem);
  font-weight: 400;
  font-family: var(--fontstack-main);
  letter-spacing: 0.06em;
  line-height: 1.24;
  margin-bottom: 0.6em;
  text-transform: uppercase;
}
