// =======================================
// titles
// =======================================

.c-smalltitle {
  color: var(--iad-gray-100);
  font-weight: 500;
  font-size: calc(11 / 16 * 1rem);
  font-family: var(--fontstack-main);
  margin-block-end: 0.5em;
  text-transform: uppercase;
}
