// =======================================
// steps
// =======================================

.c-steps {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow-x: auto;
}

.c-steps__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-steps__item:not(:first-child)::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgNUwxNSAxMkw5IDE5IiBzdHJva2U9IiMxQUMwRDciIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=)
    0 0 no-repeat;
}

.c-steps__link {
  display: inline-block;
  padding-block: 3px;
  text-decoration: none;
  color: var(--iad-gray-100);
  text-wrap: nowrap;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.c-steps__link.is-active {
  color: var(--iad-gray-100);
  text-decoration: underline;
}

.c-steps__link.is-disabled {
  cursor: not-allowed;
  color: var(--iad-gray-400);
}
