// =======================================
// vertical lists
// =======================================

.c-vlist {
  --row-gap: 0;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: var(--row-gap);
}

.c-vlist--xxs {
  --row-gap: var(--iad-space-xxs);
}

.c-vlist--xs {
  --row-gap: var(--iad-space-xs);
}

.c-vlist--s {
  --row-gap: var(--iad-space-s);
}

.c-vlist--m {
  --row-gap: var(--iad-space-m);
}

.c-vlist--l {
  --row-gap: var(--iad-space-l);
}

.c-vlist--xl {
  --row-gap: var(--iad-space-xl);
}

.c-vlist--xxl {
  --row-gap: var(--iad-space-xxl);
}

// =======================================
// horizontal lists
// =======================================

.c-hlist {
  --column-gap: 0;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--column-gap);
}

.c-hlist--xxs {
  --column-gap: var(--iad-space-xxs);
}

.c-hlist--xs {
  --column-gap: var(--iad-space-xs);
}

.c-hlist--s {
  --column-gap: var(--iad-space-s);
}

.c-hlist--m {
  --column-gap: var(--iad-space-m);
}

.c-hlist--l {
  --column-gap: var(--iad-space-l);
}

.c-hlist--xl {
  --column-gap: var(--iad-space-xl);
}

.c-hlist--xxl {
  --column-gap: var(--iad-space-xxl);
}

.c-hlist--wrap {
  flex-wrap: wrap;
}
