// =======================================
// sitefooter
// =======================================

.c-sitefooter {
  font-size: calc(13 / 16 * 1rem);
}

// .c-sitefooter__inner {
//   border-block-start: 1px solid var(--iad-gray-700);
// }

.c-sitefooter__copyright {
  margin: 0;
  padding-block: 12px;
}
