// =======================================
// tabs
// =======================================

.c-tabs {
  list-style: none;
  margin: 0 0 48px;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  overflow-x: auto;
}

.c-tabs__link {
  --border-color: transparent;

  display: inline-block;
  padding-block: 3px;
  border-bottom: 2px solid var(--border-color);
  text-decoration: none;
  color: var(--iad-gray-100);
  text-wrap: nowrap;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.c-tabs__link.is-active {
  --border-color: var(--iad-brand);
}
