<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/assets/css/main.css" />
    <script
      type="module"
      src="/assets/js/main.bundle.js"></script>
  </head>
  <body>
    <div class="l-app">
      <header class="l-app__menu">
        <div class="c-sidebar">
          <p class="c-sidebar__logo">
            <a href="#">Logo</a>
          </p>
          <nav class="c-sidebar__nav">
            <ul class="c-sidenav">
              <li class="c-sidenav__item">
                <a
                  class="c-sidenav__link"
                  href="#">
                  Etudiants
                </a>
              </li>
              <li class="c-sidenav__item">
                <a
                  class="c-sidenav__link"
                  href="#">
                  Cours
                </a>
              </li>
            </ul>
          </nav>
          <nav class="c-sidebar__usernav">
            <ul class="c-sidenav">
              <li class="c-sidenav__item">
                <a
                  href="#"
                  class="c-sidenav__link">
                  Profile
                </a>
              </li>
              <li class="c-sidenav__item">
                <a
                  href="#"
                  class="c-sidenav__link">
                  Support
                </a>
              </li>
              <li class="c-sidenav__item">
                <a
                  href="#"
                  class="c-sidenav__link">
                  Logout
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="l-app__content">
        <main class="l-app__main">
          <form class="c-searchform">
            <input
              type="search"
              class="c-searchform__input" />
            <button class="c-searchform__button">Search</button>
          </form>

          <h1 class="c-h1">This is a level one title</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            corporis vitae excepturi perspiciatis officia, tempora voluptas
            numquam harum tempore ab. Nam obcaecati alias mollitia rerum sit
            explicabo itaque veritatis distinctio!
          </p>
        </main>
        <footer class="l-app__footer">
          <p>This is a footer</p>
        </footer>
      </div>
    </div>
  </body>
</html>
