<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/assets/css/main.css" />
    <script
      type="module"
      src="/assets/js/main.bundle.js"></script>
  </head>
  <body>
    <div class="l-app">
      <header class="l-app__menu">
        <div class="c-sidebar">
          <div class="c-sidebar__header">
            <a href="/">
              <img
                src="/assets/img/iad-logo-dark.svg"
                alt="Institut des Arts de Diffusion"
                width="42"
                height="21">
            </a>
          </div>
          <div class="c-sidebar__nav">
            <div class="c-sidebar__mainnav">
              <nav>
                <ul class="c-sidenav">
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/form/">
                      Form
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/cours/">
                      Cours
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/etudiants/">
                      Etudiants
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      class="c-sidenav__link"
                      href="/test/">
                      Test this
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="c-sidebar__usernav">
              <nav>
                <ul class="c-sidenav">
                  <li class="c-sidenav__item">
                    <a
                      href="#"
                      class="c-sidenav__link">
                      Profile
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      href="#"
                      class="c-sidenav__link">
                      Support
                    </a>
                  </li>
                  <li class="c-sidenav__item">
                    <a
                      href="#"
                      class="c-sidenav__link">
                      Logout
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="l-app__content">
        <main class="l-app__main">
          {% block content %}{% endblock %}
        </main>
        <footer class="l-app__footer">
          <p class="c-copyright">This is a footer</p>
        </footer>
      </div>
    </div>
  </body>
</html>
