<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script type="module" src="/assets/js/main.bundle.js"></script>
  </head>
  <body>

    <div class="l-app">
      <div class="l-app__header">
        {% include "partials/siteheader.njk" %}
      </div>
      <div class="l-app__main">
        {% block content %}{% endblock %}
      </div>
      <!-- .l-app-sidebar goes here -->
      <div class="l-app__footer">
        {% include "partials/sitefooter.njk" %}
      </div>
    </div>
    
  </body>
</html>