/* =======================================
= app
======================================= */

.l-app {
  --app-menu-size: 204px;

  min-block-size: 100dvh;
}

.l-app__menu {
  --menu-inline-padding: 18px;
  --menu-block-padding: 18px;

  padding-inline: var(--menu-inline-padding);
  padding-block: var(--menu-block-padding);

  @media (width >= 750px) {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: var(--app-menu-size);
    min-block-size: 100%;
    background-color: var(--iad-gray-900);
    border-inline-end: 1px solid var(--iad-gray-800);
  }
}

.l-app__content {
  --content-inline-padding: 18px;
  --content-block-padding: 18px;

  padding-inline: var(--content-inline-padding);
  padding-block: var(--content-block-padding);

  @media (width >= 750px) {
    --content-block-padding: 30px;
    --content-inline-padding: max(30px, 3vi);

    margin-inline-start: var(--app-menu-size);
  }
}
