/* =======================================
=grid
======================================= */

.l-grid {
  --grid-colgap: 0;
  --grid-rowgap: 0;

  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--grid-rowgap) var(--grid-colgap);
}

/* =======================================
=base classes (columns)
======================================= */

.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* =======================================
=rwd classes (columns)
======================================= */

@media (width >= 500px) {
  .l-grid--full\@small {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .l-grid--2cols\@small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@small {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@small {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 750px) {
  .l-grid--full\@medium {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .l-grid--2cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@medium {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .l-grid--full\@large {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .l-grid--2cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@large {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@large {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >= 1440px) {
  .l-grid--full\@xlarge {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .l-grid--2cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@xlarge {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .l-grid--4cols\@xlarge {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* =======================================
=base classes (gaps)
======================================= */

/* colgap and rowgap */
.l-grid--gap-xss {
  --grid-colgap: var(--iad-space-xxs);
  --grid-rowgap: var(--iad-space-xxs);
}

.l-grid--gap-xs {
  --grid-colgap: var(--iad-space-xs);
  --grid-rowgap: var(--iad-space-xs);
}

.l-grid--gap-sm {
  --grid-colgap: var(--iad-space-sm);
  --grid-rowgap: var(--iad-space-sm);
}

.l-grid--gap-md {
  --grid-colgap: var(--iad-space-md);
  --grid-rowgap: var(--iad-space-md);
}

.l-grid--gap-lg {
  --grid-colgap: var(--iad-space-lg);
  --grid-rowgap: var(--iad-space-lg);
}

.l-grid--gap-xl {
  --grid-colgap: var(--iad-space-xl);
  --grid-rowgap: var(--iad-space-xl);
}

.l-grid--gap-xxl {
  --grid-colgap: var(--iad-space-xxl);
  --grid-rowgap: var(--iad-space-xxl);
}

.l-grid--gap-xss {
  --grid-colgap: var(--iad-space-xxs);
  --grid-rowgap: var(--iad-space-xxs);
}

/* colgap */
.l-grid--colgap-xs {
  --grid-colgap: var(--iad-space-xs);
}

.l-grid--colgap-sm {
  --grid-colgap: var(--iad-space-sm);
}

.l-grid--colgap-md {
  --grid-colgap: var(--iad-space-md);
}

.l-grid--colgap-lg {
  --grid-colgap: var(--iad-space-lg);
}

.l-grid--colgap-xl {
  --grid-colgap: var(--iad-space-xl);
}

.l-grid--colgap-xxl {
  --grid-colgap: var(--iad-space-xxl);
}

/* rowgap */
.l-grid--rowgap-xs {
  --grid-rowgap: var(--iad-space-xs);
}

.l-grid--rowgap-sm {
  --grid-rowgap: var(--iad-space-sm);
}

.l-grid--rowgap-md {
  --grid-rowgap: var(--iad-space-md);
}

.l-grid--rowgap-lg {
  --grid-rowgap: var(--iad-space-lg);
}

.l-grid--rowgap-xl {
  --grid-rowgap: var(--iad-space-xl);
}

.l-grid--rowgap-xxl {
  --grid-rowgap: var(--iad-space-xxl);
}

/* =======================================
=rwd classes (gaps)
======================================= */

/* small */
@media (width >= 500px) {
  /* colgap and rowgap */
  .l-grid--gap-xss\@small {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  .l-grid--gap-xs\@small {
    --grid-colgap: var(--iad-space-xs);
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--gap-sm\@small {
    --grid-colgap: var(--iad-space-sm);
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--gap-md\@small {
    --grid-colgap: var(--iad-space-md);
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--gap-lg\@small {
    --grid-colgap: var(--iad-space-lg);
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--gap-xl\@small {
    --grid-colgap: var(--iad-space-xl);
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--gap-xxl\@small {
    --grid-colgap: var(--iad-space-xxl);
    --grid-rowgap: var(--iad-space-xxl);
  }

  .l-grid--gap-xss\@small {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  /* colgap */
  .l-grid--colgap-xs\@small {
    --grid-colgap: var(--iad-space-xs);
  }

  .l-grid--colgap-sm\@small {
    --grid-colgap: var(--iad-space-sm);
  }

  .l-grid--colgap-md\@small {
    --grid-colgap: var(--iad-space-md);
  }

  .l-grid--colgap-lg\@small {
    --grid-colgap: var(--iad-space-lg);
  }

  .l-grid--colgap-xl\@small {
    --grid-colgap: var(--iad-space-xl);
  }

  .l-grid--colgap-xxl\@small {
    --grid-colgap: var(--iad-space-xxl);
  }

  /* rowgap */
  .l-grid--rowgap-xs\@small {
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--rowgap-sm\@small {
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--rowgap-md\@small {
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--rowgap-lg\@small {
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--rowgap-xl\@small {
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--rowgap-xxl\@small {
    --grid-rowgap: var(--iad-space-xxl);
  }
}

/* medium */
@media (width >= 750px) {
  /* colgap and rowgap */
  .l-grid--gap-xss\@medium {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  .l-grid--gap-xs\@medium {
    --grid-colgap: var(--iad-space-xs);
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--gap-sm\@medium {
    --grid-colgap: var(--iad-space-sm);
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--gap-md\@medium {
    --grid-colgap: var(--iad-space-md);
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--gap-lg\@medium {
    --grid-colgap: var(--iad-space-lg);
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--gap-xl\@medium {
    --grid-colgap: var(--iad-space-xl);
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--gap-xxl\@medium {
    --grid-colgap: var(--iad-space-xxl);
    --grid-rowgap: var(--iad-space-xxl);
  }

  .l-grid--gap-xss\@medium {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  /* colgap */
  .l-grid--colgap-xs\@medium {
    --grid-colgap: var(--iad-space-xs);
  }

  .l-grid--colgap-sm\@medium {
    --grid-colgap: var(--iad-space-sm);
  }

  .l-grid--colgap-md\@medium {
    --grid-colgap: var(--iad-space-md);
  }

  .l-grid--colgap-lg\@medium {
    --grid-colgap: var(--iad-space-lg);
  }

  .l-grid--colgap-xl\@medium {
    --grid-colgap: var(--iad-space-xl);
  }

  .l-grid--colgap-xxl\@medium {
    --grid-colgap: var(--iad-space-xxl);
  }

  /* rowgap */
  .l-grid--rowgap-xs\@medium {
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--rowgap-sm\@medium {
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--rowgap-md\@medium {
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--rowgap-lg\@medium {
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--rowgap-xl\@medium {
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--rowgap-xxl\@medium {
    --grid-rowgap: var(--iad-space-xxl);
  }
}

/* large */
@media (width >= 1024px) {
  /* colgap and rowgap */
  .l-grid--gap-xss\@large {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  .l-grid--gap-xs\@large {
    --grid-colgap: var(--iad-space-xs);
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--gap-sm\@large {
    --grid-colgap: var(--iad-space-sm);
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--gap-md\@large {
    --grid-colgap: var(--iad-space-md);
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--gap-lg\@large {
    --grid-colgap: var(--iad-space-lg);
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--gap-xl\@large {
    --grid-colgap: var(--iad-space-xl);
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--gap-xxl\@large {
    --grid-colgap: var(--iad-space-xxl);
    --grid-rowgap: var(--iad-space-xxl);
  }

  .l-grid--gap-xss\@large {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  /* colgap */
  .l-grid--colgap-xs\@large {
    --grid-colgap: var(--iad-space-xs);
  }

  .l-grid--colgap-sm\@large {
    --grid-colgap: var(--iad-space-sm);
  }

  .l-grid--colgap-md\@large {
    --grid-colgap: var(--iad-space-md);
  }

  .l-grid--colgap-lg\@large {
    --grid-colgap: var(--iad-space-lg);
  }

  .l-grid--colgap-xl\@large {
    --grid-colgap: var(--iad-space-xl);
  }

  .l-grid--colgap-xxl\@large {
    --grid-colgap: var(--iad-space-xxl);
  }

  /* rowgap */
  .l-grid--rowgap-xs\@large {
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--rowgap-sm\@large {
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--rowgap-md\@large {
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--rowgap-lg\@large {
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--rowgap-xl\@large {
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--rowgap-xxl\@large {
    --grid-rowgap: var(--iad-space-xxl);
  }
}

/* xlarge */
@media (width >= 1440px) {
  /* colgap and rowgap */
  .l-grid--gap-xss\@xlarge {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  .l-grid--gap-xs\@xlarge {
    --grid-colgap: var(--iad-space-xs);
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--gap-sm\@xlarge {
    --grid-colgap: var(--iad-space-sm);
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--gap-md\@xlarge {
    --grid-colgap: var(--iad-space-md);
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--gap-lg\@xlarge {
    --grid-colgap: var(--iad-space-lg);
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--gap-xl\@xlarge {
    --grid-colgap: var(--iad-space-xl);
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--gap-xxl\@xlarge {
    --grid-colgap: var(--iad-space-xxl);
    --grid-rowgap: var(--iad-space-xxl);
  }

  .l-grid--gap-xss\@xlarge {
    --grid-colgap: var(--iad-space-xxs);
    --grid-rowgap: var(--iad-space-xxs);
  }

  /* colgap */
  .l-grid--colgap-xs\@xlarge {
    --grid-colgap: var(--iad-space-xs);
  }

  .l-grid--colgap-sm\@xlarge {
    --grid-colgap: var(--iad-space-sm);
  }

  .l-grid--colgap-md\@xlarge {
    --grid-colgap: var(--iad-space-md);
  }

  .l-grid--colgap-lg\@xlarge {
    --grid-colgap: var(--iad-space-lg);
  }

  .l-grid--colgap-xl\@xlarge {
    --grid-colgap: var(--iad-space-xl);
  }

  .l-grid--colgap-xxl\@xlarge {
    --grid-colgap: var(--iad-space-xxl);
  }

  /* rowgap */
  .l-grid--rowgap-xs\@xlarge {
    --grid-rowgap: var(--iad-space-xs);
  }

  .l-grid--rowgap-sm\@xlarge {
    --grid-rowgap: var(--iad-space-sm);
  }

  .l-grid--rowgap-md\@xlarge {
    --grid-rowgap: var(--iad-space-md);
  }

  .l-grid--rowgap-lg\@xlarge {
    --grid-rowgap: var(--iad-space-lg);
  }

  .l-grid--rowgap-xl\@xlarge {
    --grid-rowgap: var(--iad-space-xl);
  }

  .l-grid--rowgap-xxl\@xlarge {
    --grid-rowgap: var(--iad-space-xxl);
  }
}
