/* =======================================
=grid
======================================= */

/* =======================================
=base classes
======================================= */

.l-grid {
  --grid-gap: 18px;

  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.l-grid--gap {
  gap: var(--grid-gap);
}

.l-grid--colgap {
  column-gap: var(--grid-gap);
}

.l-grid--rowgap {
  row-gap: var(--grid-gap);
}

.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.l-grid--autofit {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.l-grid--autofill {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* =======================================
=responsive classes
======================================= */
