/* =======================================
= app
======================================= */

.l-app {
  --app-sidebar-size: 280px;
  --app-main-block-padding: clamp(30px, 1.339rem + 2.679vi, 60px);

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-block-size: 100dvh;
}

.l-app[data-sidebar] {
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";

  @media (width >= 1024px) {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: var(--app-sidebar-size) minmax(0, 1fr);
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
}

.l-app__header {
  grid-area: header;
}

.l-app__main {
  grid-area: main;
  padding-block: var(--app-main-block-padding);
}

.l-app__footer {
  grid-area: footer;
}

.l-app__sidebar {
  grid-area: sidebar;
}
