---
permalink: cours/detail/index.html
---

{% extends "layouts/base.njk" %} 

{% block content %}

  <div class="l-container l-container--lg">
    <ul class="c-breadcrumbs u-mbe-xl">
      <li class="c-breadcrumbs__item">
        <a class="c-breadcrumbs__link" href="#">
          <span class="c-icon" aria-label="home">
            {% include "svg/icons/icon_home.svg" %}
          </span>
        </a>
      </li>
      <li class="c-breadcrumbs__item">
        <a class="c-breadcrumbs__link" href="#">Cours</a>
      </li>
      <li class="c-breadcrumbs__item">
        <a class="c-breadcrumbs__link" href="#">Points</a>
      </li>
    </ul>

    <div class="u-mbe-xxl">
      <h1 class="c-h1 u-mbe-xxs">Introduction au dévelopement web front-end</h1>
      <p><strong>IAD1053</strong> - Jérôme Coupé - UE81, UE2, U317</p>
    </div>

    <ul class="c-tabs u-mbe-lg">
      <li class="c-tabs__item">
        <a class="c-tabs__link  is-active" href="#">Points</a>
      </li>
      <li class="c-tabs__item">
        <a class="c-tabs__link" href="#">Fiche</a>
      </li>
    </ul>

    <div class="c-datatable">
      <table>
        <thead>
          <tr>
            <th scope="col" width="50%">
              <button>
                Elèves
                <span class="c-icon">
                  {% include "svg/icons/icon_chevron_down.svg" %}
                </span>
              </button>
            </th>
            <th scope="col">Statuts</th>
            <th scope="col" class="u-text-end">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">de Laquenelle Marie-Dominique</th>
            <td>
              <span class="c-badge" data-theme="success">Crédit résiduel</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2" value="42" disabled>
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary"
                  disabled>
                  Sauver
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Pesesse Christophe</th>
            <td>
              <span class="c-badge" data-theme="warning">A encoder</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2">
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary">
                  Sauver
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Coupé Jérôme</th>
            <td>
              <span class="c-badge" data-theme="warning">A encoder</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2">
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary">
                  Sauver
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Ledoux Pierre-Vincent</th>
            <td>
              <span class="c-badge" data-theme="warning">A encoder</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2">
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary">
                  Sauver
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Rambouillet Jean-Hugues</th>
            <td>
              <span class="c-badge" data-theme="danger">Echec</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2" value="12" disabled>
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary"
                  disabled>
                  Sauver
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Moreau Julien</th>
            <td>
              <span class="c-badge" data-theme="warning">A encoder</span>
            </td>
            <td>
              <div 
                class="c-stack c-stack--gap-xs c-stack--justify-end c-stack--align-stretch"
                data-direction="row">
                <div class="c-field-input">
                  <input type="text" size="2">
                  <div class="c-field-input__suffix">/ 60</div>
                </div>
                <button
                  class="c-button"
                  data-size="sm"
                  data-variant="primary">
                  Sauver
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="c-toast-group">
    <template>
      <div class="c-toast js-toast">
        <div class="c-toast__content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="c-toast__close">
          <button class="c-button c-button--xxs c-button--plain">
            <span class="c-icon">
              {% include "svg/icons/icon_close.svg" %}
            </span>
          </button>
        </div>
      </div>
    </template>
  </div>
  
{% endblock %}
