---
permalink: cours/index.html
---

{% extends "layouts/base.njk" %} 

{% block content %}

  <div class="l-container">
    <h1 class="c-h1">Cours</h1>
    <div class="c-datatable">
      <table>
        <thead>
          <tr>
            <th scope="col">Codes</th>
            <th scope="col">Intitulés</th>
            <th scope="col">Classes</th>
            <th class="u-text-right" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IAD1053</th>
            <td><a href="/cours/detail">Introduction au dévelopement web front-end</a></td>
            <td>MM1B</td>
            <td class="u-text-right">
              <button class="c-button" data-size="sm" aria-label="options">
                <span class="c-button__icon">
                  <span class="c-icon">{% include "svg/icons/icon_options.svg" %}</span>
                </span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">IAD1123</th>
            <td><a href="/cours/detail">Gestion de projets multimedia</a></td>
            <td>MM2B</td>
            <td class="u-text-right">
              <button class="c-button" data-size="sm" aria-label="options">
                <span class="c-button__icon">
                  <span class="c-icon">{% include "svg/icons/icon_options.svg" %}</span>
                </span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">IAD1148</th>
            <td><a href="/cours/detail">Dévelopement web front-end</a></td>
            <td>MM2B</td>
            <td class="u-text-right">
              <button class="c-button" data-size="sm" aria-label="options">
                <span class="c-button__icon">
                  <span class="c-icon">{% include "svg/icons/icon_options.svg" %}</span>
                </span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">IAD1115</th>
            <td><a href="/cours/detail">Atelier site internet</a></td>
            <td>MM2B</td>
            <td class="u-text-right">
              <button class="c-button" data-size="sm" aria-label="options">
                <span class="c-button__icon">
                  <span class="c-icon">{% include "svg/icons/icon_options.svg" %}</span>
                </span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">IAD1261</th>
            <td><a href="/cours/detail">Dévelopement web front-end avancé</a></td>
            <td>MM3B</td>
            <td class="u-text-right">
              <button class="c-button" data-size="sm" aria-label="options">
                <span class="c-button__icon">
                  <span class="c-icon">{% include "svg/icons/icon_options.svg" %}</span>
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}
