---
permalink: dashboard/index.html
---

{% extends "layouts/base.njk" %}
{% block content %}
<div class="l-container l-container--lg">
  <ul class="c-breadcrumbs u-mbe-xl">
    <li class="c-breadcrumbs__item">
      <a class="c-breadcrumbs__link" href="#">
        <span class="c-icon" aria-label="home">
          {% include "svg/icons/icon_home.svg" %}
        </span>
      </a>
    </li>
    <li class="c-breadcrumbs__item">
      <a class="c-breadcrumbs__link" href="#">Dashboard</a>
    </li>
  </ul>

  <h1 class="c-h1">Tableau de bord</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam natus dolor
    inventore ut libero repudiandae maxime quisquam obcaecati, molestiae eius,
    non beatae mollitia ratione amet voluptas. Consequuntur unde ad blanditiis.
  </p>
  <ul class="l-grid l-grid--gap-md l-grid--autofill">
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--success">Complété</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--success">Complété</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--warning">A faire</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--warning">A faire</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--warning">A faire</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="c-card">
        <div class="c-card__body">
          <p><span class="c-badge c-badge--warning">A faire</span></p>
          <h2 class="c-h4">
            <a href="#">
              Ceci est un titre de carte
            </a>
          </h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit explicabo accusantium voluptatum sunt dolore. Nesciunt labore, eum dicta possimus natus id fugiat autem perspiciatis harum ab est aliquam maxime quam!</p>
          <p><a href="#">En savoir plus</a></p>
        </div>
      </div>
    </li>
  </ul>
  
</div>
{% endblock %}
