---
permalink: form/index.html
---

{% extends "layouts/base.njk" %}
{% block content %}
<div class="l-container l-container--lg">
  <ul class="c-breadcrumbs u-mbe-xl">
    <li class="c-breadcrumbs__item">
      <a class="c-breadcrumbs__link" href="#">
        <span class="c-icon" aria-label="home">
          {% include "svg/icons/icon_home.svg" %}
        </span>
      </a>
    </li>
    <li class="c-breadcrumbs__item">
      <a class="c-breadcrumbs__link" href="#">Inscription</a>
    </li>
  </ul>
  <h1 class="c-h1">Profil personnel</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam natus dolor
    inventore ut libero repudiandae maxime quisquam obcaecati, molestiae eius,
    non beatae mollitia ratione amet voluptas. Consequuntur unde ad blanditiis.
  </p>
  <form
    class="c-form"
    method="get">
    <div 
      class="c-message u-mbe-md"
      data-variant="danger">
      <p>
        Bon ... nous avons un sérieux problème de nature relativement globale.
      </p>
    </div>
    <div
      class="c-stack" data-gap="md">
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="firstname">
            Prénom
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Veuillez entrer votre prénom</p>
        </div>
        <div class="c-field-input" data-width="full">
          <input
            type="text"
            id="firstname"
            name="firstname"
            disabled />
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Votre prénom nous pose question</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="lastname">
            Nom
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Veuillez entrer votre nom</p>
        </div>
        <div class="c-field-input" data-width="full">
          <input
            type="text"
            id="lastname"
            name="lastname" />
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Votre nom nous pose question</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="income">
            Revenus
          </label>
        </div>
        <div class="c-field-hint">
          <p>Veuillez estimer vos revenus</p>
        </div>
        <div class="c-field-input" data-width="full">
          <div class="c-field-input__prefix">Net Mensuel</div>
          <input
            type="number"
            id="income"
            name="income" />
          <div class="c-field-input__suffix">EUR</div>
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Vos revenus sont insuffisants pour payer le minerval</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="phone">
            Téléphone
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Numéro de téléphone de contact</p>
        </div>
        <div class="c-field-input" data-width="full">
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="+32 474 340 174" />
          <div class="c-field-input__suffix">
            <span class="c-icon">
              {% include "svg/icons/icon_phone.svg" %}
            </span>
          </div>
        </div>
        <div class="c-field-hint" data-variant="danger">
          <p>Veuillez spécifier un numéro de téléphone au bon format</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="email">
            Email
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Adresse email de contact</p>
        </div>
        <div class="c-field-input" data-width="full">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="coyote@acme.corp" />
          <div class="c-field-input__suffix">
            <span class="c-icon">
              {% include "svg/icons/icon_email.svg" %}
            </span>
          </div>
        </div>
        <div class="c-field-hint" data-variant="danger">
          <p>Votre email n'est pas correct</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="country">
            Pays
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Un seul pays, placé sous le signe de la frite</p>
        </div>
        <div class="c-field-select" data-width="full">
          <select
            name="country"
            id="country">
            <option value="belgium">Belgique</option>
            <option value="france">France</option>
            <option value="ue">Union Européenne</option>
            <option value="hors-ue">Hors Union Européenne</option>
          </select>
          <div class="c-field-select__caret">
            <span class="c-icon">
              {% include "svg/icons/icon_select.svg" %}
            </span>
          </div>
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Pas de frites bien préparées dans ce pays</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="message">
            Message
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Ecrivez-nous un joli message</p>
        </div>
        <div class="c-field-textarea" data-width="full">
          <textarea
            name="message"
            id="message"></textarea>
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Nous n'acceptons que les messages positifs</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label class="c-field-label">
            RGPD
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Le RGPD c'est fantastique</p>
        </div>
        <div class="c-field-checkbox">
          <input
            type="checkbox"
            id="rgpd"
            name="rgpd" />
          <label for="rgpd">
            J'autorise le traitement de mes données personelles conformément au
            RGPD. Mes données seront conservées uniquement dans le cadre de
            cette inscription.
          </label>
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Pas de consentement, pas d'inscription</p>
        </div>
      </div>
      <div class="c-field">
        <div>
          <label class="c-field-label">
            Photo
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-file">
          <input
            type="file"
            id="photo"
            name="photo" />
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Une belle photo on a dit</p>
        </div>
      </div>
      <fieldset class="c-fieldset c-field">
        <legend class="c-field-label">Bacheliers</legend>
        <div class="c-field-hint">
          <p>Choisissez vos bacheliers préférés</p>
        </div>
        <div class="c-stack">
          <div class="c-field-checkbox">
            <input
              type="checkbox"
              id="bacmm"
              value="mm"
              name="bac" />
            <label
              for="bacmm">
              Bachelier multimédia
            </label>
          </div>
          <div class="c-field-checkbox">
            <input
              type="checkbox"
              value="rea"
              id="bacrea"
              name="bac" />
            <label
              for="bacrea">
              Bachelier réalisation
            </label>
          </div>
          <div class="c-field-checkbox">
            <input
              type="checkbox"
              value="ms"
              id="bacms"
              name="bac" />
            <label
              for="bacms">
              Bachelier montage et scripte
            </label>
          </div>
        </div>
        <div 
          class="c-field-hint"
          data-variant="danger">
          <p>Un seul bachelier trouve grâce à nos yeux</p>
        </div>
      </fieldset>
      <fieldset class="c-fieldset c-field">
        <legend class="c-field-label">Master</legend>
        <div class="c-field-hint">
          <p>Choisissez un seul master</p>
        </div>
        <div class="c-stack">
          <div class="c-field-radio">
            <input
              type="radio"
              name="favmaster"
              id="mastermm"
              value="mm"
              required />
            <label
              for="mastermm">
              Master multimédia
            </label>
          </div>
          <div class="c-field-radio">
            <input
              type="radio"
              name="favmaster"
              id="masterrea"
              value="rea"
              required />
            <label
              for="masterrea">
              Master réalisation
            </label>
          </div>
          <div class="c-field-radio">
            <input
              type="radio"
              name="favmaster"
              id="masterms"
              value="ms"
              required />
            <label
              for="masterms">
              Master montage et scripte
            </label>
          </div>
        </div>
        <div 
          class="c-field-hint"
          data-variant="danger">
          <p>Un seul master trouve grâce à nos yeux</p>
        </div>
      </fieldset>
      <div class="c-field">
        <div>
          <label
            class="c-field-label"
            for="mydate">
            Date
            <span class="c-field-label__required">*</span>
          </label>
        </div>
        <div class="c-field-hint">
          <p>Veuillez entrer une date</p>
        </div>
        <div class="c-field-date" data-width="full">
          <input
            type="date"
            id="mydate"
            name="mydate" />
        </div>
        <div
          class="c-field-hint"
          data-variant="danger">
          <p>Veuillez entrer une date dans le futur</p>
        </div>
      </div>
      <div>
        <button 
          class="c-button"
          data-variant="primary">
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
