---
permalink: index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script type="module" src="/assets/js/main.bundle.js"></script>
  </head>
  <body>
    <main>
      <div class="l-container">
        <h1 class="c-h1 c-h1--border">Inscription: épreuves d'admission</h1>
        <div class="l-3areas">
          <div class="l-3areas__nav">
            <nav>
              <ul>
                <li><a href="#">Profil</a></li>
                <li><a href="#">Orientation</a></li>
                <li><a href="#">CESS</a></li>
                <li><a href="#">Renseignements</a></li>
                <li><a href="#">Review</a></li>
              </ul>
            </nav>
          </div>
          <div class="l-3areas__main">
            <h2 class="c-h2">Titre de niveau 2</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h3 class="c-h3">Titre de niveau 3</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h4 class="c-h4">Titre de niveau 4</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h5 class="c-h5">Titre de niveau 5</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h6 class="c-h6">Titre de niveau 6</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>
            <form class="c-form" method="get">
              <div class="c-formsection">
                <div class="c-formfield">
                  <div>
                    <label class="c-formlabel" for="name">
                      Nom
                      <span class="c-formlabel__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis, officia esse eveniet doloribus natus beatae unde,
                        perferendis culpa error.
                      </p>
                    </div>
                  </div>
                  <input
                    class="c-formfield__textfield"
                    type="text"
                    id="name"
                    name="name" />
                  <p class="c-formfield__error">This is an error message</p>
                </div>

                <div class="c-formfield">
                  <div>
                    <label class="c-formlabel" for="pays">
                      Pays
                      <span class="c-formlabel__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Le choix d'un pays c'est agréable</p>
                    </div>
                  </div>
                  <div class="c-formfield__select">
                    <select name="pays" id="pays">
                      <option value="">Choisir un pays</option>
                      <option value="be">Belgique</option>
                      <option value="fr">France</option>
                      <option value="zi">Zimbabwe</option>
                    </select>
                  </div>
                  <p class="c-formfield__error">This is an error message</p>
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formlabel" for="message">
                      Pouquoi aimez-vous le code?
                      <span class="c-formlabel__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Soyez honnête, le serveur vous regarde</p>
                    </div>
                  </div>
                  <textarea
                    class="c-formfield__input"
                    id="message"
                    name="message"></textarea>
                  <p class="c-formfield__error">This is an error message</p>
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formlabel" for="picture">
                      Photo
                      <span class="c-formlabel__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Format .jpg, 800 par 800 pixels.</p>
                    </div>
                  </div>
                  <input
                    class="c-formfield__file"
                    type="file"
                    id="picture"
                    name="picture" />
                </div>
                <div class="c-formfield c-formfield--inline">
                  <input
                    class="c-formfield__checkbox"
                    type="checkbox"
                    id="testcheckbox"
                    name="testcheckbox" />
                  <div>
                    <label
                      class="c-formlabel c-formlabel--inline"
                      for="testcheckbox">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Laborum recusandae facere dolorum laboriosam.
                    </label>
                    <div class="c-formfield__help">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="c-formsection">
                <h2 class="c-h2">Choix d'un master</h2>
                <div class="c-checkboxes">
                  <ul class="c-list-bare">
                    <li>
                      <p class="c-formlabel">
                        Choix de master
                        <span class="c-formlabel__required">*</span>
                      </p>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__checkbox"
                          type="checkbox"
                          id="mastermm"
                          name="mastermm" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="mastermm">
                            Master multimédia
                          </label>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__checkbox"
                          type="checkbox"
                          id="masterrea"
                          name="masterrea" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="masterrea">
                            Master réalisation de cinéma que ce sont vraiement
                            les meilleurs comme cela c'est long et on peut voir
                            un peu quand cela passe à la ligne
                          </label>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__checkbox"
                          type="checkbox"
                          id="masterms"
                          name="masterms" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="masterms">
                            Master montage et scripte
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="c-formsection">
                <h2 class="c-h2">Choix d'un professeur</h2>
                <p>
                  Quel est votre professeur de multimédia préféré. Quelle que
                  soit votre réponse, un seul professeur sera retenu et il
                  possède un café en bords de meuse.
                </p>

                <div class="c-radios">
                  <p class="c-formlabel">
                    Choix d'un professeur
                    <span class="c-formlabel__required">*</span>
                  </p>
                  <ul class="c-list-bare">
                    <li>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__radio"
                          type="radio"
                          id="radio3"
                          name="prof" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="radio3">
                            Julien Moreau
                          </label>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__radio"
                          type="radio"
                          id="bac2"
                          name="prof" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="bac2">
                            Christophe Pesesse qui est vraiment le plus agile
                            d'entre nous et qui est aussi là depuis le plus
                            longtemps.
                          </label>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="c-formfield c-formfield--inline u-mbe-xs">
                        <input
                          class="c-formfield__radio"
                          type="radio"
                          id="bac3"
                          name="prof" />
                        <div>
                          <label
                            class="c-formlabel c-formlabel--inline"
                            for="bac3">
                            Jérôme Coupé
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="c-formsection">
                <input
                  class="c-button c-button--primary"
                  type="submit"
                  value="Envoyer" />
              </div>
            </form>
          </div>
          <div class="l-3areas__info">
            <!-- nothing to see here -->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
