---
permalink: index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script type="module" src="/assets/js/main.bundle.js"></script>
  </head>
  <body>
    <main>
      <div class="l-container">
        <h1 class="c-h1 c-h1--border">Inscription: épreuves d'admission</h1>
        <div class="l-3areas">
          <div class="l-3areas__nav">
            <nav>
              <ul>
                <li><a href="#">Profil</a></li>
                <li><a href="#">Orientation</a></li>
                <li><a href="#">CESS</a></li>
                <li><a href="#">Renseignements</a></li>
                <li><a href="#">Review</a></li>
              </ul>
            </nav>
          </div>
          <div class="l-3areas__main">
            <h2 class="c-h2">Titre de niveau 2</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h3 class="c-h3">Titre de niveau 3</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h4 class="c-h4">Titre de niveau 4</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h5 class="c-h5">Titre de niveau 5</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>

            <h6 class="c-h6">Titre de niveau 6</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
              natus dolor inventore ut libero repudiandae maxime quisquam
              obcaecati, molestiae eius, non beatae mollitia ratione amet
              voluptas. Consequuntur unde ad blanditiis.
            </p>
            <form class="c-form" method="get">
              <div class="c-formsection">
                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="name">
                      Nom
                      <span class="c-formfield__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis, officia esse eveniet doloribus natus beatae unde,
                        perferendis culpa error.
                      </p>
                    </div>
                  </div>
                  <input
                    class="c-textfield"
                    type="text"
                    id="name"
                    name="name" />
                  <p class="c-formfield__error">Le champs nom est requis</p>
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="surname">
                      Prénom
                      <span class="c-formfield__required">*</span>
                    </label>
                  </div>
                  <input
                    class="c-textfield"
                    type="text"
                    id="surname"
                    name="surname" />
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="usualname">
                      Prénom usuel
                    </label>
                    <div class="c-formfield__help">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis, officia esse eveniet doloribus natus beatae unde,
                        perferendis culpa error.
                      </p>
                    </div>
                  </div>
                  <input
                    class="c-textfield"
                    type="text"
                    id="usualname"
                    name="usualname" />
                </div>

                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="pays">
                      Pays
                      <span class="c-formfield__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Le choix d'un pays c'est agréable</p>
                    </div>
                  </div>
                  <div class="c-select">
                    <select name="pays" id="pays">
                      <option value="">Choisir un pays</option>
                      <option value="be">Belgique</option>
                      <option value="fr">France</option>
                      <option value="zi">Zimbabwe</option>
                    </select>
                  </div>
                  <p class="c-formfield__error">
                    Le choix d'un pays est obligatoire
                  </p>
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="message">
                      Pouquoi aimez-vous le code?
                      <span class="c-formfield__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Soyez honnête, le serveur vous regarde</p>
                    </div>
                  </div>
                  <textarea
                    class="c-textarea"
                    id="message"
                    name="message"></textarea>
                </div>
                <div class="c-formfield">
                  <div>
                    <label class="c-formfield__label" for="picture">
                      Photo
                      <span class="c-formfield__required">*</span>
                    </label>
                    <div class="c-formfield__help">
                      <p>Format .jpg, 800 par 800 pixels.</p>
                    </div>
                  </div>
                  <input
                    class="c-file"
                    type="file"
                    id="picture"
                    name="picture" />
                </div>
                <div class="c-formfield">
                  <div>
                    <p class="c-formfield__label" for="picture">
                      Données personnelles
                      <span class="c-formfield__required">*</span>
                    </p>
                    <div class="c-formfield__help">
                      <p>
                        Vos données sont uniquement utilisées dans le cadre de
                        cette inscription. Elles seront supprimées dans un an si
                        votre inscription n'est pas effective.
                      </p>
                    </div>
                  </div>
                  <div class="c-checkbox">
                    <input
                      class="c-checkbox__input"
                      type="checkbox"
                      id="rgpd"
                      name="rgpd" />
                    <label class="c-checkbox__label" for="rgpd">
                      J'autorise le traitement de mes données personelles
                    </label>
                  </div>
                </div>
              </div>

              <div class="c-formsection">
                <h2 class="c-h3">Choix d'un master</h2>
                <div class="c-formfield">
                  <div>
                    <p class="c-formfield__label">
                      Choix d'un master
                      <span class="c-formfield__required">*</span>
                    </p>
                    <div class="c-formfield__help">
                      <p>Petit texte d'aide</p>
                    </div>
                  </div>
                  <ul class="c-list-bare">
                    <li>
                      <div class="c-checkbox">
                        <input
                          class="c-checkbox__input"
                          type="checkbox"
                          id="mastermm"
                          name="mastermm" />
                        <label class="c-checkbox__label" for="mastermm">
                          Master multimédia
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="c-checkbox">
                        <input
                          class="c-checkbox__input"
                          type="checkbox"
                          id="masterrea"
                          name="masterrea" />
                        <label class="c-checkbox__label" for="masterrea">
                          Master réalisation qu'il sont vraiement les plus beaux
                          comme cela on voit ce que cela donne quand on passe
                          sur deux lignes.
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="c-checkbox">
                        <input
                          class="c-checkbox__input"
                          type="checkbox"
                          id="masterms"
                          name="masterms" />
                        <label class="c-checkbox__label" for="masterms">
                          Master montage et scripte
                        </label>
                      </div>
                    </li>
                  </ul>
                  <p class="c-formfield__error">
                    Non, vous ne serez pas le prochain Ken Loach
                  </p>
                </div>
              </div>

              <div class="c-formsection">
                <h2 class="c-h3">Choix d'un professeur</h2>
                <p>
                  Quel est votre professeur de multimédia préféré ? Quelle que
                  soit votre réponse, un seul professeur sera retenu et il
                  possède un café en bords de Meuse.
                </p>

                <div class="c-formfield">
                  <p class="c-formfield__label">
                    Choix d'un professeur
                    <span class="c-formfield__required">*</span>
                  </p>
                  <ul class="c-list-bare">
                    <li>
                      <div class="c-radio">
                        <input
                          class="c-radio__input"
                          type="radio"
                          id="prof1"
                          name="prof"
                          value="Julien Moreau" />
                        <label class="c-radio__label" for="prof1">
                          Julien Moreau
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="c-radio">
                        <input
                          class="c-radio__input"
                          type="radio"
                          id="prof2"
                          name="prof"
                          value="Christophe Pesesse" />
                        <label class="c-radio__label" for="prof2">
                          Christophe Pesesse qui est vraiment le plus agile
                          d'entre nous et qui est aussi là depuis le plus
                          longtemps.
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="c-radio">
                        <input
                          class="c-radio__input"
                          type="radio"
                          id="prof3"
                          name="prof"
                          value="Jérôme Coupé" />
                        <label class="c-radio__label" for="prof3">
                          Jérôme Coupé
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="c-formsection">
                <input
                  class="c-button c-button--primary"
                  type="submit"
                  value="Envoyer" />
              </div>
            </form>
          </div>
          <div class="l-3areas__info">
            <!-- nothing to see here -->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
