@use "../mixins/mixins-media-queries" as *;

// =======================================
// container
// =======================================

.l-container {
  --inline-padding: 18px;

  margin-inline: auto;
  padding-inline: var(--inline-padding);
  max-width: 1240px;

  @include breakpoint(medium) {
    --inline-padding: 30px;
  }
}
