@use "../mixins/mixins-media-queries" as *;
@use "../settings/settings-breakpoints" as settings;

$split-colgap: 60px;
$split-rowgap: 24px;

// ---------------------------------------
// base classes
// ---------------------------------------

.l-split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: $split-colgap;
  row-gap: $split-rowgap;
}

.l-split--2fr1fr {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

// ---------------------------------------
// responsive classes
// ---------------------------------------

@each $name, $query in settings.$breakpoints-map {
  @media #{$query} {
    .l-split--2fr1fr\@#{$name} {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
  }
}
