@use "../mixins/mixins-media-queries" as *;

.l-3areas {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "nav"
    "main"
    "info";
  gap: var(--grid-gutter);

  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas:
      "nav main"
      ".   info";
  }

  @include breakpoint(large) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas: "nav main info";
  }
}

.l-3areas__nav {
  grid-area: nav;
}

.l-3areas__main {
  grid-area: main;
}

.l-3areas__info {
  grid-area: info;
}
