@use "../mixins/mixins-media-queries" as *;
@use "../settings/settings-breakpoints" as settings;

$grid-gap: 24px;

// =======================================
// grid
// =======================================

// ---------------------------------------
// base classes
// ---------------------------------------

.l-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.l-grid--gap {
  gap: $grid-gap;
}

.l-grid--colgap {
  column-gap: $grid-gap;
}

.l-grid--rowgap {
  row-gap: $grid-gap;
}

.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

// ---------------------------------------
// responsive classes
// ---------------------------------------

@each $name, $query in settings.$breakpoints-map {
  @media #{$query} {
    .l-grid--2cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .l-grid--3cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .l-grid--4cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
