// =============================================
// =colors
// =============================================

:root {
  --iad-gray-100: #1c1c1c;
  --iad-gray-200: #333333;
  --iad-gray-300: #494949;
  --iad-gray-400: #606060;
  --iad-gray-500: #828282;
  --iad-gray-600: #979797;
  --iad-gray-700: #dddddd;
  --iad-gray-800: #f8f8f8;

  --iad-black: #000000;
  --iad-white: #ffffff;

  --iad-brand: #1ac0d7;
  --iad-brand-dark: #1180a1;
  --iad-brand-washed: #edfbfd;
  --iad-brand-offwhite: #fbfdfe;

  --iad-ui-warning: #f7b538;
  --iad-ui-warning-dark: #a16b06;
  --iad-ui-warning-washed: #fef8eb;

  --iad-ui-success: #76d143;
  --iad-ui-success-dark: #448320;
  --iad-ui-success-washed: #f3fbef;

  --iad-ui-danger: #ee5417;
  --iad-ui-danger-dark: #ce4a16;
  --iad-ui-danger-washed: #fef1ec;
}
