<nav aria-label="header navigation">
  <ul class="c-headernav">
    <li class="c-headernav__item">
      <a
        class="c-headernav__link"
        data-has-icon="true"
        href="#">
        {% include "svg/icons/icon_help.svg" %} Support
      </a>
    </li>
    <li class="c-headernav__item">
      <a
        class="c-headernav__link"
        data-has-icon="true"
        href="#">
        {% include "svg/icons/icon_logout.svg" %} Logout
      </a>
    </li>
  </ul>
</nav>