<div class="c-mobilemenu js-mobilemenu">
  <div class="c-mobilemenu__start">
    <button class="c-mobilemenu__close js-menutrigger" aria-label="open navigation">
      {% include "svg/menuclose.svg" %}
    </button>
  </div>
  <div class="c-mobilemenu__main">
    <nav aria-label="mobile navigation">
      {% for item in mainnav %}
        {% if loop.first %}<ul class="c-mobilenav">{% endif %}
          <li class="c-mobilenav__item">
            <a
              class="c-mobilenav__link"
              href="{{ item.navUrl }}">
              {{ item.navLabel }}
            </a>
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="c-mobilemenu__end">
    {% for item in usernav %}
      {% if loop.first %}<ul class="c-mobilenav">{% endif %}
        <li class="c-mobilenav__item">
          <a
            class="c-mobilenav__link"
            href="{{ item.navUrl }}">
            {% if item.navIcon %}
              <span class="c-icon">
                {% include item.navIcon %}
              </span>
            {% endif %}
            {{ item.navLabel }}
          </a>
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  </div>
</div>