<header class="c-siteheader">
  <div class="c-siteheader__logo">
    <img
      src="/assets/img/iad-logo-dark.svg"
      alt="Institut des Arts de Diffusion" />
  </div>
  <div class="c-siteheader__nav">
    {% include "partials/headernav.njk" %}
  </div>
  <div class="c-siteheader__hamburger">
    <a
      href="#"
      class="js-menutrigger"
      aria-label="navigation">
      {% include "svg/menuopen.svg" %}
    </a>
  </div>
  {% include "partials/mobilemenu.njk" %}
</header>
